*{
	margin: 0px auto;
	padding: 0px;
}
#top{
	background-color: #3650ac;
	margin: 0px;
	/*border: 1px solid  #3650ac;*/
	height: 60px;
	/*box-shadow: 10px 10px 10px white;*/
}
#col-1{
	padding-left: 80px;
	float:left;
	height:60px;
	line-height:60px;
}
#col-1 a{
	text-decoration: none;
	color:white;
	/*margin-left: 5px;*/
/*float: left;*/

}
#col-1 a:hover{
	
        text-decoration:underline;
}

#search{
	float:right;
	/*float: left;*/
	
	background-color: #425db8;
	width: 300px;
	height: 30px;
	margin:10px 200px;
	border-radius:5px;
	border:2px inset  #425db8;
	color:white;
	padding-left:8px;
	line-height: 60px;
}
.clear{
	clear: both;
}
div#bottom{
	background-color: #4864c0;
	border: 1px solid #4864c0;
	height:130px;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
#ul1{
	margin: 10px 30px ;
	height: 10px;
	width: 100%;

}
#ul1 li{
	float: left;
	margin: 0px 10px ;
	list-style-type: none;
	
}
#ul1 li a{
	text-decoration: none;
	color:white;
}
#ul1 li a:hover{
	text-decoration:underline;
}
h2{
	color: white;
	margin: 0px 60px 10px 60px;
}
#ul2{
	margin-left: 30px;
	
}
#ul2 li{
	list-style-type: none;
	margin:10px 10px;
	float: left;
	height: 30px;
}
#ul2 li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
/*#ul2 li a:hover{
	text-decoration:underline;
}*/
#ul2 li:hover{
     cursor:pointer;
     border-bottom: 2px groove white;

}

#spec-li a{
	display: inline;
	float: right;
}